.containerCard {
  background-color: white;
  box-shadow: 0 10px 20px 0 rgba(0,0,0,.001);
  border-radius: 5px;
  padding: 1rem 2rem;
  margin-top: 1rem;
}

.playerStats {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.borderedLost {
  border: 3px solid #FF3A3A;
  border-radius: 12px;
}

.borderedWon {
  border: 3px solid #4BDD08;
  border-radius: 12px;
}

.item{
  display: inline-block;
  width: 30%;
  height: 30px;
  margin-right: 3px;
}
.empty{
  background-color: gray;
}
