.container {
  padding: 0 3rem;
  margin-bottom: 3rem;
}

.title {
  font-family: Muli;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: white;
  text-align: center;
  margin: 2rem 0;
}

.elapsedTime {
  font-family: Muli;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #FFFFFF;
}

.descriptionText {
  font-family: Muli;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  text-align: center;
  color: white;
  padding: 0 4rem;
  letter-spacing: -0.25px;
}
