.container {
  padding: 0 3rem;
  margin-bottom: 3rem;
}

.title {
  font-family: Muli;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: white;
  text-align: center;
  margin: 2rem 0;
}

.passwordButton {
  padding: 1rem 0;
  background-color: #613BFF;
  width: 200px;
  font-size: 14px;
  font-family: 'Muli';
  font-weight: bold;
  cursor: pointer;
  color: white;
  text-align: center;
  border-radius: 12px;
  margin-top: 30px;
}

.cancelButton {
  padding: 1rem 0;
  background-color: #613BFF;
  opacity: 0.5;
  width: 200px;
  font-size: 14px;
  font-family: 'Muli';
  font-weight: bold;
  cursor: pointer;
  color: white;
  text-align: center;
  border-radius: 12px;
  margin-top: 30px;
}

.centerContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.description {
  font-family: Muli;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  text-align: center;
  letter-spacing: -0.25px;
  color: #FFFFFF;
  padding: 0 3rem;
  line-height: 17px;
  margin-top: 2rem;
}
