.pageContainer {
    display: flex;
    align-items: self-start;
    background-color: #e5e5e5;
  }
  
  .feedContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    margin: 0px 0px 0px 114px;
  }
  
  .feedNavBar {
    width: 635px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 60px 0px 60px 0px;
  }
  
  .feedNavBarItem {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: auto;
    height: 25px;
    margin: 0px 28px 0px 0px;
    cursor: pointer;
  }
  
  .active,
  .inactive {
    font-family: 'Muli';
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
  }
  
  .active {
    color: #090909;
  }
  
  .inactive {
    color: #8f92a1;
  }
  
  .titleContainer {
    width: 635px;
    margin: 0px 0px 28px 0px;
  }
  
  .title {
    font-family: 'Muli';
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    color: #1e1f20;
  }
  
  .streamContainer {
    flex: 1;
    padding-left: 15px;
    margin: 0px 10px 10px 0px;
    overflow-y: scroll;
    overflow-x: hidden;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: #9c9c9c #cdcfd5;
  }
  
  .streamContainer::-webkit-scrollbar {
    width: 5px;
  }
  
  .streamContainer::-webkit-scrollbar-thumb {
    height: 128px;
    border-radius: 100px;
    background-color: #cdcfd5;
  }
  
  .dot {
    width: 5px;
    height: 5px;
    border-radius: 12px;
    background-color: #1e1f20;
  }
  