.container {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  border-radius: 10px;
}

.status {
  position: absolute;
  top: -3px;
  right: -3px;
}
