body {
  margin: 0;
  font-family: 'Muli';
  background-color: #0B0C0C;
}

code {
  font-family: 'Muli';
}

@font-face {
  font-family: 'Muli';
  src: local('Muli'), url('./fonts/Muli-VariableFont_wght.ttf') format('truetype');
}