.pageContainer {
  display: flex;
  align-items: self-start;
  background-color: #e5e5e5;
  height: 100%;
}

.mainContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  margin: 0px 0px 0px 114px;
}

.topNavBar {
  width: 635px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 60px 0px 60px 0px;
}

.topNavBarItem {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: auto;
  height: 25px;
  margin: 0px 28px 0px 0px;
  cursor: pointer;
}

.topNavBarItem a {
  color: inherit;
  text-decoration: inherit;
}

.active,
.inactive {
  font-family: 'Muli';
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

.active {
  color: #090909;
}

.inactive {
  color: #8f92a1;
}

.titleContainer {
  width: 635px;
  margin: 0px 0px 28px 0px;
}

.title {
  font-family: 'Muli';
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  color: #1e1f20;
}

.contentContainer {
  flex: 1;
  padding-left: 15px;
  margin: 0px 10px 10px 0px;
  overflow-y: scroll;
  overflow-x: hidden;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: #9c9c9c #cdcfd5;
}

.contentContainer::-webkit-scrollbar {
  width: 5px;
}

.contentContainer::-webkit-scrollbar-thumb {
  height: 128px;
  border-radius: 100px;
  background-color: #cdcfd5;
}

.dot {
  width: 5px;
  height: 5px;
  border-radius: 12px;
  background-color: #1e1f20;
}

.centerContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
}

.matchButton {
  padding: 1rem 0;
  background-color: #613BFF;
  min-width: 300px;
  font-size: 14px;
  font-family: 'Muli';
  font-weight: bold;
  cursor: pointer;
  color: white;
  text-align: center;
  border-radius: 12px;
  border: 0;
}

.settingsButton {
  cursor: pointer;
  font-size: 14px;
  font-family: 'Muli';
  min-width: 300px;
  text-align: center;
  font-weight: bold;
  color: #979797;
  margin-top: 3rem;
  border: 0;
  background-color: inherit;
}

.reportIssuesButton {
  cursor: pointer;
  font-family: Muli;
  font-style: normal;
  font-weight: bold;
  min-width: 300px;
  font-size: 14px;
  padding: 0.5rem 0;
  color: #979797;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.15);
  text-align: center;
  border-radius: 12px;

}

.resendInvitesButton {
  padding: 0.5rem 0;
  background-color: #613BFF;
  font-size: 14px;
  font-family: 'Muli';
  font-weight: bold;
  cursor: pointer;
  color: white;
  text-align: center;
  border-radius: 12px;
  margin-bottom: 3rem;
  border: 0;
}

.bottomButtonContainer {
  position: absolute;
  bottom: 3rem;
  width: 100%;
}

.bottomTextMatchName {
  font-family: Muli;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.69);
  margin-bottom: 1rem;
}

.steamWarning{
  margin-top: 100px;
  color: white;
  text-align: center;
}
